<h1>Liste des joueurs</h1>

<% @parties.each do |partie| %>
    Partie ID: <%= partie.id %> <%= partie.joueur_1.fullname %>
    <%if partie.joueur_2 %>
        vs <%= partie.joueur_2.fullname %>
    <%end%>   
    <br />
<% end %>