<h1>Liste des Recettes par users<br/></h1>

<% @users.each do |u| %>

    <h2> <%= u.fullname%>  <br/></h2>
    
    <% u.recettes.each do |re| %>

         <%= re.titre%>   <a href="/admin/recettes/<%=re.id%>">Voir la recette</a>  <br/></h2><br/>
    
    <% end %>

<% end %>
<br/>
<br/>